/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ---------------------------
    header design starts 
------------------------------*/
.header-container{
    background-color: #6c5ce7;
    padding: 0 150px;
    margin: 0 auto;
}
.header-container:hover .banner-content h1{
    display: inline-block;
    margin: 0 0.5rem;
    animation: fadeInLeft;
    animation-duration: 2s;
  }
.nav-container{
    display: flex;
    justify-content: space-between;
}
.nav-menu ul{
    text-align: center;
}
.nav-menu ul li{
    display: inline-block;
    margin-right: 26px;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    margin-top: 30px;
    display: inline-block;
    border-radius: 5px;
    transition: .4s;
}
.nav-menu ul li a:hover{
    background-color: #a29bfe;
}
.nav-button a{
    display: inline-block;
    margin-top: 30px;
}

/* -------------------------
    banner design starts 
-----------------------------*/
.banner-container{
    display: flex;
}
.banner-content h1{
    width: 485px;
    height: 230px;
    padding-top: 100px;
    margin-bottom: 27px;
    font-weight: 700;
    color: #ffffff;
}
.text-color{
    color: #fdcb6e;
}
.link-btn{
    text-decoration: none;
    background: #E02C6D;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 24px;
}
.banner-content a{
    width: 168px;
    height: 44px;
    display: inline-block;
    margin-top: 27px;
    text-align: center;
}
.banner-img img{
    width: 556.01px;
    height: 438px;
    padding-top: 56px;
    margin-bottom: 80px;
}

/* -------------------------
    players design starts 
-----------------------------*/
.player-container{
    margin: 50px 100px;
    background-color: #ffffff;
    padding: 20px 50px;
    border-radius: 10px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.player{
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    border-radius: 5px;
    transition: .4s;
}
.player:hover{
    box-shadow: 4px 8px 30px rgba(0, 0, 0, 0.15);
}
.player-img img{
    width: 250px;
    height: 200px;
}
.player-desc{
    text-align: justify;
}
.player-desc p{
    font-size: 12px;
}


/* ------------------------
    middle banner design 
---------------------------*/
.middle-banner{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    
}
.middle-banner-img{
    margin-right: -4px;
    width: 30%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 18rem;
}
.middle-banner-img img{
    width: 300px;
    
}
.middle-banner-content{
    width: 70%;
    background-color: red;
    border-radius: 10px;
    padding: 20px;
    color: white;
}
.middle-banner-content p{
    margin-bottom: 30px;
}


/* latest blogs */
.blogs-container{
    margin: 50px 100px;
    text-align: justify;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 5px;
}
.blog{
    display: flex;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: .4s;
}
.blog:hover{
    box-shadow: 4px 8px 30px rgba(0, 0, 0, 0.15);
}
.blog-logo img{
    margin-right: 10px;
    width: 180px;
    height: 130px;
}
.blog-text{
    width: 340px;
    font-size: 15px;
    font-weight: 500;
    height: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    
}
.blog-text h2{
    font-size: 15px;
}

/* footer design styles */
footer{
    width: 483.87px;
    height: 213px;
    margin: 0 auto;
    margin-bottom: 60px;
    padding: 10px;
    border-radius: 5px;
    background: #ffffff;
}
.footer-logo img{
    width: 483.87px;
    height: 110px;
}
.social-icon{
    display: flex;
    justify-content: center;
}
.social-icon img{
    width: 32px;
    height: 32px;
    margin: 20px 7px;
}
footer p{
    text-align: center;
    font-size: 12px;
    color: #000;
}




/* -----------------------
    responsive section 
----------------------*/
/* mobile device */
@media only screen and (max-width:688px){
    /* header responsive */
    .header-container{
        width: 100%;
        padding: auto;
    }
    .nav-container{
        text-align: center;
        display: block;
    }

    .nav-menu ul li a{
        width: 100%;
    }

    /* banner responsive */
    .banner-container{
        display: block;
    }
    .banner-img img{
        width: 100%;
    }
    .player-container{
        display: flex;
        justify-content: center;
    }
    .players, .blogs{
        grid-template-columns: repeat(1, 1fr);
    }


    /* middle banner */
    .middle-banner{
        width: 70%;
        display: block;
    }
    .middle-banner-img{
        width: 100%;
        display: block;
    }
    .middle-banner-content{
        display: block;
        width:100%;
        color: white;
        margin: 20px 0;
    }

    

    /* latest blogs */
    .blog{
        display: flex;
        flex-direction: column;
    }
    .blog-logo img, .blog-text{
        width: 100%;
    }
    /* footer */
    footer{
        width: 50%;
    }
    .footer-logo img{
        width: 100%;
    }
}


/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px){
    /* header responsive */
    .header-container{
        text-align: center;
    }
    .nav-container{
        text-align: center;
        display: block;
    }

    .nav-menu ul li a{
        width: 100%;
    }
    /* banner responsive */
    .banner-container{
        display: block;
    }
    .banner-img img{
        width: 100%;
    }
    .player-container{
        display: flex;
        justify-content: center;
        width: 80%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }

    /* middle banner */
    .middle-banner{
        width: 80%;
        display: flex;
        
    }
    .middle-banner-img{
        width: 100%;
        margin-right: 20px;
    }
    .middle-banner-content{
        display: inline-block;
        width: 80%;
        margin: 20px 0;
        color: white;
        margin: auto;
    }
    /* latest blogs */
    .blog{
        display: flex;
        flex-direction: row;
    }
    .blog-logo img, .blog-text{
        width: 100%;
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    /* footer */
    footer{
        width: 80%;
    }
    .footer-logo img{
        width: 100%;
    }
}


